@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.border {
  border-radius: var(--radius-lg);
  border-style: var(--tw-border-style);
  border-width: 2px;
  padding: calc(var(--spacing) * 1);
  background: var(--color-white);
}

.slide-20 {
  --tw-translate-x: calc(var(--spacing) * -20);
  translate: var(--tw-translate-x) var(--tw-translate-y);
}

.h-main {
  height: calc(100vh - 60px);
}

.swing-in-top {
  animation: "swing-in-fwd" 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes swing-in-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  to{
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
